body
{
  font-family: "Montserrat";
}
#title
{
  background-color:#fd3a69;
  padding-bottom: 5%;
}
.intro-line
{
  font-weight:bolder;
  font-size:3rem;
  line-height: 2;
  margin-bottom: 80px;
  color: #e8e8e8;
}
.container-fluid
{
  padding:2% 10%;
}

.navbar
{
  padding:0 0 4.5rem 0;
}
.navbar-brand
{
  font-family: "roboto";
  font-size: 3rem;
  font-weight:bolder;
}
.intro-img
{
  width:50%;
  position: absolute;
  transform: rotate(25deg);
  top: 50px;
  left: 100px;
}
.nav-item
{
  padding:0 18px;
}
.nav-link
{
  font-size: 1.1rem;
  font-weight: 600;
}
.download-button
{
  margin:5% 2% 0 1%;
}

#features
{
  padding: 2% 10%;
  background-color: #fff;
  position: relative;
  z-index:1;
}
.feature
{
  margin-top: 5rem;
  text-align: center;
}
.feature-text-h3
{
  margin-bottom: 2rem;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
p
{
  line-height: 2;
  font-family: 'Montserrat-thin';
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20%;
}
.icon
{
  margin-bottom: 1.5rem;
  color:#fd3a69;
}
.icon:hover
{
  color: red;
}









#testimonials
{
  padding:7% 10%;
  text-align: center;
  background-color: #ef8172;
}

.testimonial-heading
{
  padding-bottom: 2.5rem;
  font-family: 'Montserrat';
  font-size:2rem;
  color:#fff;
  width:60%;
  margin:0 auto;
  font-weight: bold;
}
.testi-img
{
  display:block;
  margin:0 auto;
  padding-bottom: 1.5rem;
  width:20%;
}


#press
{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 4%;
}

.press-logo
{
  width: 15%;
  margin:5% 2%;
}
.testi-button
{
  padding:0 4rem;
}




.price-tag
{
  text-align: center;
}
.card-text
{
  margin-bottom: 1rem;
}
.price-intro
{
  margin-bottom:2%;
  font-weight: 400;
  color:grey;
}


.price-introhead
{
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  color:black;
  font-size:3rem;
}




#cta
{
  background-color: #fd3a69;
  text-align: center;
  padding: 10% 5%;
}
.cta-head
{
  font-size: 2rem;
  color: #fff;
}

#footer
{
  text-align: center;
  padding-top: 100px;
}
.footer-p
{

  margin-bottom:0;
  font-size: 0.8rem;
}
.footer-icon
{
  margin: 1% 2rem;
  
}
